.recordings-list {
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--base);

  &__trash-info {
    font-size: 0.875rem;
    color: var(--c--globals--colors--gray-600);
  }
}

.recordings-list__count {
  font-size: 0.875rem;
  color: var(--c--globals--colors--gray-600);
}

.recordings-list__table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: var(--c--globals--spacings--xs) var(--c--globals--spacings--2xs);
    vertical-align: middle;
  }

  th:last-child,
  td:last-child {
    width: 56px;
    text-align: right;
  }

  .recording-status {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  tr {
    &.clickable {
      cursor: pointer;
      &:hover {
        background: var(--c--globals--colors--gray-025);
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    word-break: break-word;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__title-extra {
    font-size: 0.875rem;
    color: var(--c--globals--colors--gray-600);
    margin-left: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
