.subtle-info {
  font-size: 0.875rem;
  color: var(--c--globals--colors--gray-600);
  text-align: center;
}

.recordings-list {
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--xs);

  &__document-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      // a bit hacky bit didn't find another quick way for now
      border-radius: 3.56px;
      box-shadow: 0px 2px 4px 0px var(--c--globals--colors--black-050);
    }
  }

  &__trash-info {
    font-size: 0.875rem;
    color: var(--c--globals--colors--gray-600);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--c--globals--spacings--xxs);

    &__left {
      display: flex;
      align-items: center;
      gap: var(--c--globals--spacings--xs);
    }

    &__status {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      width: 32px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &__title {
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
    }

    &__metadata {
      display: flex;
      gap: 0.25rem;
      font-size: 12px;
      line-height: 12px;
      color: var(--c--globals--colors--gray-600);
    }
  }
}

.recordings-list__footer {
  display: flex;
  justify-content: center;
}

.recordings-list {
  width: 100%;
  border-collapse: collapse;

  .clickable {
    cursor: pointer;

    border-radius: var(--c--globals--spacings--xxs);
    &:hover {
      background: var(--c--globals--colors--gray-025);
    }
  }

  .recording-status {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}
