@use '@gouvfr-lasuite/ui-kit/sass/fonts';
@use '@gouvfr-lasuite/cunningham-react/icons';
@use '@gouvfr-lasuite/cunningham-react/style';
@use 'cunningham-tokens';

@use './../layout/LogoApp';
@use './../layout/ConnectedLayout';
@use './../layout/LeftPanel';
@use './../layout/HeaderRight';
@use './../components/Card';
@use './../components/Pagination';
@use './../components/ProgressBar';
@use './../features/recordings/components/Player';
@use './../features/recordings/components/RecordingUploadComponent';
@use './../features/recordings/components/RecordComponent';
@use './../features/recordings/components/ListRecordings';
@use 'react-h5-audio-player/src/styles.scss';

// Buggy otherwise for some reason
.c__avatar__initials {
  width: 24px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.p-2xs {
  padding: var(--c--globals--spacings--2xs);
}

.p-xs {
  padding: var(--c--globals--spacings--xs);
}

.p-sm {
  padding: var(--c--globals--spacings--sm);
}

.p-md {
  padding: var(--c--globals--spacings--md);
}

.p-base {
  padding: var(--c--globals--spacings--base);
}

.hoverGroup .hoverGroupChild {
  opacity: 0;
  pointer-events: none;
}

.hoverGroup:hover .hoverGroupChild,
.hoverGroup:focus-within .hoverGroupChild {
  opacity: 1;
  pointer-events: auto;
}
