@use 'sass:map';
@use '../styles/cunningham-tokens-sass' as *;

$tablet: map.get($themes, 'default', 'globals', 'breakpoints', 'lg');
$mobile: map.get($themes, 'default', 'globals', 'breakpoints', 'xs');

.home-page {
  overflow-y: scroll;
  height: 100vh;

  &__header {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 var(--c--globals--spacings--md);
    @media (min-width: $tablet) {
      padding: 0 var(--c--globals--spacings--xxl);
    }

    height: 91.5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      flex-direction: row;
      gap: var(--c--globals--spacings--md);
      align-items: center;

      img {
        height: 47.5px;
      }
    }

    &__app-logo {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      gap: var(--c--globals--spacings--sm);
      align-items: center;

      &__shortcuts {
        display: flex;
        flex-direction: row;
        gap: var(--c--globals--spacings--xxs);

        .c__button--with-icon--right {
          // Fix UI kit missing icon
          padding-right: 0;
          padding-left: var(--c--globals--spacings--xxxs);
        }
      }

      &__separator {
        height: 24px;
        width: 1px;
        background-color: var(--c--globals--colors--gray-200);
      }
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;

    padding: 0 var(--c--globals--spacings--md);
    @media (min-width: $tablet) {
      padding: 0 var(--c--globals--spacings--xxl);
    }

    .home-page__app-logo {
      height: 60px;
      @media (min-width: $tablet) {
        display: none;
      }
    }

    .home-page__hero {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: var(--c--globals--spacings--lg);
      padding-top: var(--c--globals--spacings--lg);

      img {
        height: 300px;

        @media (max-width: 800px) {
          display: none;
        }
      }

      &__intro {
        max-width: 650px;
        h1 {
          font-size: 44px;
          line-height: 48px;
          font-weight: 700;
          margin: 0;

          @media (max-width: $mobile) {
            font-size: 34px;
            line-height: 38px;

            word-break: break-word;
          }
        }
        p {
          color: #555e74;
          font-size: 20px;
          line-height: 28px;

          @media (max-width: $mobile) {
            word-break: break-word;
          }
        }
        &__buttons {
          display: flex;
          flex-direction: row;
          gap: var(--c--globals--spacings--sm);

          @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }

  &__examples {
    width: 100%;
    padding: var(--c--globals--spacings--4xl) var(--c--globals--spacings--lg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--c--globals--spacings--lg);

    img {
      height: 730px;

      @media (max-width: 1300px) {
        height: 500px;
      }
    }
  }

  &__showcase-assistant {
    background-color: var(--c--contextuals--background--surface--tertiary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--c--globals--spacings--xl);

    padding: var(--c--globals--spacings--7xl) var(--c--globals--spacings--xxl);
    @media (max-width: $tablet) {
      padding: var(--c--globals--spacings--2xl) var(--c--globals--spacings--xl);
    }

    img {
      height: 96px;

      @media (max-width: $tablet) {
        height: 66px;
      }
    }

    p {
      margin: 0;
      font-size: 20px;
      line-height: 28px;
      color: #555e74;
      text-align: center;
    }

    &__buttons {
      display: flex;
      gap: var(--c--globals--spacings--sm);

      @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .c__footer__stripe {
    display: none;
  }
}
