@use 'sass:map';
@use '../styles/cunningham-tokens-sass' as *;

$tablet: map.get($themes, 'default', 'globals', 'breakpoints', 'lg');
$mobile: map.get($themes, 'default', 'globals', 'breakpoints', 'xs');

.drop-zone--drag-in-progress {
  background-color: var(
    --c--contextuals--background--semantic--brand--tertiary
  );
}

.recordings-page {
  max-height: 100%;
  max-width: 455px;
  margin: 0 auto;

  padding: 0.5rem;

  @media (min-width: $tablet) {
    margin-top: 1rem;
    padding: 2rem;
  }

  .drop-zone--drag-in-progress-main-area {
    @media (max-width: $tablet) {
      border: 4px solid var(--c--contextuals--border--semantic--brand--primary);
    }
    @media (min-width: $tablet) {
      box-shadow: var(--c--contextuals--border--semantic--brand--primary) 0 0 0
        3px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--c--globals--colors--gray-600);

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .recordings-actions {
    display: flex;
    justify-content: center;
    gap: var(--c--globals--spacings--xs);
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe2ea;
    margin-bottom: var(--c--globals--spacings--md);

    box-shadow: 0px 2px 12px 0px #0000001a;
    border-radius: var(--c--globals--spacings--xs);
    padding: var(--c--globals--spacings--sm);

    .first-row {
      width: 100%;
      display: flex;
      gap: var(--c--globals--spacings--xs);
    }

    &__record-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--c--globals--spacings--xs);
    }

    &__warning {
      display: flex;
      align-items: center;
      font-size: 12px;
      gap: var(--c--globals--spacings--xs);
      color: var(--c--globals--colors--gray-600);
      text-align: center;
    }
  }
}
