@use 'sass:map';
@use '../styles/cunningham-tokens-sass' as *;

$tablet: map.get($themes, 'default', 'globals', 'breakpoints', 'lg');

.recording-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: $tablet) {
    padding-left: 0;
    padding-right: 0;

    flex-direction: column-reverse;
    margin-bottom: unset;
    overflow: hidden;
    height: calc(100dvh - 58px);
    min-height: 0;
  }

  &__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    height: 100%;
  }
}

.recording-page__content {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(280px, 1fr);
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.recording-page__card {
  background: var(--c--contextuals--background--surface--primary);
  padding: 1rem;
  border-radius: 0.25rem;

  @media (min-width: $tablet) {
    border: 1px solid var(--c--contextuals--border--surface--primary);

    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  @media (max-width: $tablet) {
    flex: 1;
    min-height: 0;

    .recording-page__panel-header {
      justify-content: start;
      h2 {
        display: none;
      }
    }

    .c__tabs {
      height: 100%;

      .react-aria-Tabs {
        width: 100%;
      }

      .react-aria-TabPanel {
        flex: 1;
      }
    }
  }
}

.react-aria-TabPanel {
  min-height: 0;
  overflow-y: auto;
  width: 100%;
}

.recording-page__player {
  padding: 1rem;
  background: var(--c--globals--colors--gray-025);

  @media (min-width: $tablet) {
    position: sticky;
    top: 0;
    padding-top: 2rem;
  }
}

.recording-page__panel-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
    font-size: 1rem;
    color: var(--c--contextuals--content--surface--primary);
  }
}

.recording-page__state {
  color: var(--c--contextuals--content--surface--secondary);
  font-size: 0.95rem;
}

.recording-page__summary {
  color: var(--c--contextuals--content--surface--primary);
  line-height: 1.6;
  white-space: pre-wrap;
}
