@use 'sass:map';
@use '../styles/cunningham-tokens-sass' as *;

$tablet: map.get($themes, 'default', 'globals', 'breakpoints', 'lg');

.dictaphone__connected_layout_container {
  height: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet) {
    padding: 0;
  }

  .dictaphone__connected_layout_content {
    width: 100%;
    max-width: 1200px;
    padding-top: 8rem;
  }
}

.c__main-layout {
  .c__header {
    border-bottom: none;
    // Forced display none on mobile
    .c__header__toggle-menu {
      display: none;
    }
  }
}
